<launch>
    <arg name="device" default="/dev/ttyUSB-mti"/>
    <arg name="driver" default="xsens_imu_driver"/>
    <arg name="baudrate" default="115200"/>
    <arg name="output" default="screen"/>

    <node name="$(arg driver)" pkg="$(arg driver)" type="$(arg driver)" output="$(arg output)">
        <param name="device" type="string" value="$(arg device)"/>
        <param name="baudrate" type="int" value="$(arg baudrate)"/>
    </node>
</launch>
